<ngx-spinner style="height: 100%;" bdOpacity=2 bdColor="white" size="default" bdColor="rgba(51,51,51,0.8)"
type="ball-pulse-sync" [fullScreen]="true" color="red"  template="<img src='assets/images/logo/logo-rojo.svg' class='w-32' />">
  <p style="color: white; padding-bottom: 80px;"> Cargando...</p>
</ngx-spinner>
<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Caja Ica</a>
                </div>
                <!--                 <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Administración</a>
                </div> -->
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary"> Procesos</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-l md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Procesos
                </h2>
            </div>
        </div>
    </div>
    <div  class="flex-auto p-6 sm:p-10">
        <div class="grid grid-cols-12 gap-4">
            <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12 justify-items-center">
                <mat-card-title>Búsqueda de Procesos</mat-card-title>
                </div>
                <div class="xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-12 col-span-12 justify-items-center">
                    <mat-form-field class="fuse-mat-no-subscript w-full" appearance="outline">
                        <mat-label>Estado</mat-label>
                                <mat-select (valueChange)="getCodEstado($event)">
                                <mat-option *ngFor="let item of estados " [value]="item.nConsValor">{{item.cConsDescripcion}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
                <div class="xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-12 col-span-12 justify-items-center">
                    <button style="margin-top: 12px;" mat-flat-button color="warn" (click)="getProcess()">
                        Buscar &nbsp;&nbsp;
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
        </div>
        <div class="grid grid-cols-12 gap-4 w-full mt-8">

            <div *ngFor="let quote of proc; let i = index"
                class="xl:col-span-4 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12 grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <!-- Previous statement -->
                <div
                    class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                            [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate"> {{quote.cNroProcesoSeleccion}}
                            </div>
                            <div class="text-green-600 font-medium text-sm">
                                {{quote.NombreProcesoSeleccion}}
                            </div>
                        </div>
                        <div class="ml-auto -mt-2">
                            <button  (click)="goto(quote)" style="background-color: red;" mat-icon-button>
                                <mat-icon style="color: white;" class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-double-right'">
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap mt-4 -mx-6">
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Tipo</div>
                            <div class="mt-2 font-medium text-md leading-none">{{quote.NombreNivel}}</div>
                        </div>
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Etapa</div>
                            <div class="mt-2 font-medium text-md leading-none">{{quote.NombreEtapa}}</div>
                        </div>
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Fecha</div>
                            <div class="mt-2 font-medium text-md leading-none">{{quote.Duracion}}</div>
                        </div>
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Rubro</div>
                            <div class="mt-2 font-medium text-md leading-none">{{quote.NombreRubro}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container w-full p-7">
            <mat-card>
                <mat-card-title>Búsqueda de Procesos</mat-card-title>
                <div class="grid sm:grid-cols-9 gap-6 w-full mt-8">
                <div class="sm:col-span-3 ">
                    <mat-form-field class="fuse-mat-no-subscript w-full" appearance="outline">
                        <mat-label>Estado</mat-label>
                                <mat-select (valueChange)="getCodEstado($event)">
                                <mat-option *ngFor="let item of estados " [value]="item.nConsValor">{{item.cConsDescripcion}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
                <div class="sm:col-span-3 ">
                <button mat-flat-button color="warn" (click)="getProcess()"  >
                    Buscar
                    <mat-icon>search</mat-icon>
                </button>
                </div>
                </div>
                </mat-card>

                <div class="w-full mt-8" >
                    <mat-card class="mb-8" *ngFor="let quote of proc; let i = index">
                        <mat-content>
                            <div class="w-full pl-0 grid grid-cols-6">
                                <div class="sm:col-span-1">
                                    <div *ngFor="let item of data; let i = index">
                                        <b>
                                            {{item.name}} - </b>
                                            <br>
                                    </div>
                                </div>
                                <div class="sm:col-span-3">
                                    <p>
                                       {{quote.cNroProcesoSeleccion}}
                                    </p>
                                    <p>
                                        {{quote.NombreProcesoSeleccion}}
                                     </p>
                                     <p>
                                        {{quote.NombreNivel}}
                                     </p>
                                     <p>
                                        {{quote.NombreEtapa}}
                                     </p>
                                     <p>
                                        {{quote.Duracion}}
                                     </p>
                                     <p>
                                        {{quote.NombreRubro}}
                                     </p>
                                </div>
                                <div class="sm:col-span-1 align-details">
                                    <a (click)="goto(quote)"> >> Ver</a>
                                </div>
                            </div>
                        </mat-content>
                    </mat-card>
                </div>
        </div> -->
    </div>

</div>




